@media screen and (max-width: 438px) {
  .container {
    width: 100%;
  }

  .modal {
    width: calc(100% - 30px);
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dpp) {
  .main-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dpp) {
    .main-hero {
      padding: 188px 0;
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/office-tab-2x.jpg);
    }
  }

  .container {
    max-width: 768px;
    padding: 16px;
  }
  .header-list {
    margin-right: 0;
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .header-container {
    margin: 0;
    padding: 0;
  }
  .header {
    padding: 16px;
  }
  .header-menu {
    padding: 0;
  }
  .logo {
    padding-left: 0;
    margin-right: 120px;
  }

  .address-nav {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    gap: 12px;
    padding: 0;
  }

  .active::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--portfolio-button-focus-hover);
  }

  .hamburger-menu {
    display: none;
  }

  .hero {
    width: 496px;
  }

  .description-menu {
    min-width: 768px;
    gap: 24px 72px;
  }

  .description {
    gap: 72px 24px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .description-features {
    width: calc((100% - 24px) / 2);
    padding-left: 0;
  }
  .description-menu .container {
    margin: 0 auto;
  }

  .team-list {
    gap: 64px 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-container {
    width: 584px;
    justify-content: center;
  }
  .team-line {
    width: calc((100% - 24px) / 2);
    max-width: 264px;
  }
  .team-photo-img {
    width: 100%;
  }

  .customers {
    padding: 96px 108px 96px 108px;
    display: flex;
    justify-content: center;
  }

  .customer-list {
    gap: 72px 24px;
    justify-content: center;
  }

  .customer-item {
    height: 88px;
    width: calc((100% - 48px) / 3);
  }

  .footer-container {
    gap: 72px 24px;
    width: 584px;
    justify-content: unset;
    display: flex;
    flex-wrap: wrap;
    padding: 96px 0;
  }

  .button-wrap {
    display: flex;
    flex-direction: inline-flex;
  }

  .footer-logo-container {
    align-items: unset;
  }

  .social-text {
    align-items: left;
  }
  .footer-social-container {
    align-items: unset;
  }
  .footer-email {
    width: 264px;
    padding: 0;
  }
  .subscribe-btn {
    margin: 0;
  }
  .label-email-footer {
    width: 264px;
  }
  .footer-email-input {
    justify-content: unset;
  }
  .button-wrap {
    width: 100%;
    flex-direction: row;
    justify-content: left;
    gap: 24px;
  }

  .backdrop {
    width: calc(100% - 200px);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .modal {
    transform: translate(-50% -50%) scale(1);
    width: 408px;
    top: 25%;
  }
}

@media screen and (min-width: 1158px) {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dpp) {
    .main-hero {
      padding: 188px 0;
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/office-desk-2x.jpg);
    }
  }

  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .active::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -24px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--portfolio-button-focus-hover);
  }

  .logo {
    margin-right: 76px;
  }
  .header {
    padding: 24px 0;
  }
  .address-nav {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    gap: 40px;
    padding: 0;
  }
  .description-icon-list {
    display: flex;
    align-items: center;
    background-color: var(--button-portfolio-background-color);
    justify-content: center;
    border-radius: 4px;
    height: 112px;
    margin-bottom: 8px;
  }

  .description-icon {
    fill: var(--header-color);
  }

  .header-list {
    margin-right: auto;
    display: flex;
    gap: 40px;
  }
  .description-menu .container {
    margin: 0 auto;
  }
  .description {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .description-features {
    width: calc((100% - 72px) / 4);
    width: 100%;
    padding-left: 0;
  }

  .photo-section {
    display: flex;
    padding-bottom: 120px;
  }

  .team-line {
    width: calc((100% - 72px) / 4);
    height: auto;
    width: 100%;
  }

  .team-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .title-name {
    padding: 32px 0;
    text-align: center;
  }
  .team-container {
    width: 100%;
  }
  .social-icons-list {
    padding-left: 0;
  }

  .customer-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    padding-bottom: 120px;
  }

  .customer-item {
    height: 88px;
    width: calc((100% - 120px) / 6);
  }
  .customer-link {
    width: 100%;
  }
  .customers {
    padding: 0;
    padding-top: 120px;
  }

  .footer-container {
    display: flex;
    flex-wrap: nowrap;
    gap: unset;
    padding: 0;
    margin: 0;
  }
  .footer {
    padding: 100px 15px;
  }
  .footer-social-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-social-container {
    align-items: unset;
    margin-left: 120px;
  }
  .footer-email {
    width: 264px;
    padding: 0;
  }
  .subscribe-btn {
    margin: 0;
  }
  .label-email-footer {
    width: 264px;
  }
  .footer-email-input {
    display: block;
    justify-content: unset;
    margin-left: 96px;
  }
  .button-wrap {
    width: 100%;
    flex-direction: row;
    justify-content: left;
    gap: 24px;
    margin: 0;
  }
  .backdrop {
    width: 100%;
    overflow-y: scroll;
  }

  .modal {
    transform: translate(-50%, -10%) scale(1);
    width: 408px;
  }
}
